.box{
    background-color: rgb(132, 169, 238);
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box3{
    background-color: burlywood;
}